# include
snippet include AmazonLex
    !include ${1}/AI/AmazonLex/AmazonLex.puml
    ${0}
snippet include AmazonMachineLearning
    !include ${1}/AI/AmazonMachineLearning/AmazonMachineLearning.puml
    ${0}
snippet include AmazonPolly
    !include ${1}/AI/AmazonPolly/AmazonPolly.puml
    ${0}
snippet include AmazonRekognition
    !include ${1}/AI/AmazonRekognition/AmazonRekognition.puml
    ${0}
snippet include AmazonAthena
    !include ${1}/Analytics/AmazonAthena/AmazonAthena.puml
    ${0}
snippet include AmazonCloudSearch
    !include ${1}/Analytics/AmazonCloudSearch/AmazonCloudSearch.puml
    ${0}
snippet include searchdocuments
    !include ${1}/Analytics/AmazonCloudSearch/searchdocuments/searchdocuments.puml
    ${0}
snippet include AmazonEMR
    !include ${1}/Analytics/AmazonEMR/AmazonEMR.puml
    ${0}
snippet include cluster
    !include ${1}/Analytics/AmazonEMR/cluster/cluster.puml
    ${0}
snippet include EMRengine
    !include ${1}/Analytics/AmazonEMR/EMRengine/EMRengine.puml
    ${0}
snippet include EMRengineMapRM3
    !include ${1}/Analytics/AmazonEMR/EMRengineMapRM3/EMRengineMapRM3.puml
    ${0}
snippet include EMRengineMapRM5
    !include ${1}/Analytics/AmazonEMR/EMRengineMapRM5/EMRengineMapRM5.puml
    ${0}
snippet include EMRengineMapRM7
    !include ${1}/Analytics/AmazonEMR/EMRengineMapRM7/EMRengineMapRM7.puml
    ${0}
snippet include AmazonEMR_HDFScluster
    !include ${1}/Analytics/AmazonEMR_HDFScluster/AmazonEMR_HDFScluster.puml
    ${0}
snippet include AmazonES
    !include ${1}/Analytics/AmazonES/AmazonES.puml
    ${0}
snippet include AmazonKinesis
    !include ${1}/Analytics/AmazonKinesis/AmazonKinesis.puml
    ${0}
snippet include AmazonKinesis_enabledapp
    !include ${1}/Analytics/AmazonKinesis/AmazonKinesis_enabledapp/AmazonKinesis_enabledapp.puml
    ${0}
snippet include AmazonKinesisAnalytics
    !include ${1}/Analytics/AmazonKinesis/AmazonKinesisAnalytics/AmazonKinesisAnalytics.puml
    ${0}
snippet include AmazonKinesisFirehose
    !include ${1}/Analytics/AmazonKinesis/AmazonKinesisFirehose/AmazonKinesisFirehose.puml
    ${0}
snippet include AmazonKinesisStreams
    !include ${1}/Analytics/AmazonKinesis/AmazonKinesisStreams/AmazonKinesisStreams.puml
    ${0}
snippet include AmazonQuickSight
    !include ${1}/Analytics/AmazonQuickSight/AmazonQuickSight.puml
    ${0}
snippet include AmazonRedshift
    !include ${1}/Analytics/AmazonRedshift/AmazonRedshift.puml
    ${0}
snippet include densecomputenode
    !include ${1}/Analytics/AmazonRedshift/densecomputenode/densecomputenode.puml
    ${0}
snippet include densestoragenode
    !include ${1}/Analytics/AmazonRedshift/densestoragenode/densestoragenode.puml
    ${0}
snippet include AWSDataPipeline
    !include ${1}/Analytics/AWSDataPipeline/AWSDataPipeline.puml
    ${0}
snippet include AmazonAPIGateway
    !include ${1}/ApplicationServices/AmazonAPIGateway/AmazonAPIGateway.puml
    ${0}
snippet include AmazonAppStream
    !include ${1}/ApplicationServices/AmazonAppStream/AmazonAppStream.puml
    ${0}
snippet include AmazonElasticTranscoder
    !include ${1}/ApplicationServices/AmazonElasticTranscoder/AmazonElasticTranscoder.puml
    ${0}
snippet include AmazonSWF
    !include ${1}/ApplicationServices/AmazonSWF/AmazonSWF.puml
    ${0}
snippet include decider
    !include ${1}/ApplicationServices/AmazonSWF/decider/decider.puml
    ${0}
snippet include worker
    !include ${1}/ApplicationServices/AmazonSWF/worker/worker.puml
    ${0}
snippet include AWSStepFunctions
    !include ${1}/ApplicationServices/AWSStepFunctions/AWSStepFunctions.puml
    ${0}
snippet include AmazonWorkDocs
    !include ${1}/BusinessProductivity/AmazonWorkDocs/AmazonWorkDocs.puml
    ${0}
snippet include AmazonWorkMail
    !include ${1}/BusinessProductivity/AmazonWorkMail/AmazonWorkMail.puml
    ${0}
snippet include common
    !include ${1}/common.puml
    ${0}
snippet include AmazonEC2
    !include ${1}/Compute/AmazonEC2/AmazonEC2.puml
    ${0}
snippet include AMI
    !include ${1}/Compute/AmazonEC2/AMI/AMI.puml
    ${0}
snippet include AutoScaling
    !include ${1}/Compute/AmazonEC2/AutoScaling/AutoScaling.puml
    ${0}
snippet include DBoninstance
    !include ${1}/Compute/AmazonEC2/DBoninstance/DBoninstance.puml
    ${0}
snippet include ElasticIPaddress
    !include ${1}/Compute/AmazonEC2/ElasticIPaddress/ElasticIPaddress.puml
    ${0}
snippet include instance
    !include ${1}/Compute/AmazonEC2/instance/instance.puml
    ${0}
snippet include instances
    !include ${1}/Compute/AmazonEC2/instances/instances.puml
    ${0}
snippet include instancewithCloudWatch
    !include ${1}/Compute/AmazonEC2/instancewithCloudWatch/instancewithCloudWatch.puml
    ${0}
snippet include optimizedinstance
    !include ${1}/Compute/AmazonEC2/optimizedinstance/optimizedinstance.puml
    ${0}
snippet include Spotfleet
    !include ${1}/Compute/AmazonEC2/Spotfleet/Spotfleet.puml
    ${0}
snippet include Spotinstance
    !include ${1}/Compute/AmazonEC2/Spotinstance/Spotinstance.puml
    ${0}
snippet include X1instance
    !include ${1}/Compute/AmazonEC2/X1instance/X1instance.puml
    ${0}
snippet include AmazonECR
    !include ${1}/Compute/AmazonECR/AmazonECR.puml
    ${0}
snippet include ECRRegistry
    !include ${1}/Compute/AmazonECR/ECRRegistry/ECRRegistry.puml
    ${0}
snippet include AmazonECS
    !include ${1}/Compute/AmazonECS/AmazonECS.puml
    ${0}
snippet include EC2ComputeContainer
    !include ${1}/Compute/AmazonECS/EC2ComputeContainer/EC2ComputeContainer.puml
    ${0}
snippet include EC2ComputeContainer_Alt1
    !include ${1}/Compute/AmazonECS/EC2ComputeContainer_Alt1/EC2ComputeContainer_Alt1.puml
    ${0}
snippet include EC2ComputeContainer_Alt2
    !include ${1}/Compute/AmazonECS/EC2ComputeContainer_Alt2/EC2ComputeContainer_Alt2.puml
    ${0}
snippet include AmazonLightsail
    !include ${1}/Compute/AmazonLightsail/AmazonLightsail.puml
    ${0}
snippet include AmazonVPC
    !include ${1}/Compute/AmazonVPC/AmazonVPC.puml
    ${0}
snippet include customergateway
    !include ${1}/Compute/AmazonVPC/customergateway/customergateway.puml
    ${0}
snippet include elasticnetworkadapter
    !include ${1}/Compute/AmazonVPC/elasticnetworkadapter/elasticnetworkadapter.puml
    ${0}
snippet include elasticnetworkinterface
    !include ${1}/Compute/AmazonVPC/elasticnetworkinterface/elasticnetworkinterface.puml
    ${0}
snippet include endpoints
    !include ${1}/Compute/AmazonVPC/endpoints/endpoints.puml
    ${0}
snippet include flowlogs
    !include ${1}/Compute/AmazonVPC/flowlogs/flowlogs.puml
    ${0}
snippet include Internetgateway
    !include ${1}/Compute/AmazonVPC/Internetgateway/Internetgateway.puml
    ${0}
snippet include router
    !include ${1}/Compute/AmazonVPC/router/router.puml
    ${0}
snippet include VPCNATgateway
    !include ${1}/Compute/AmazonVPC/VPCNATgateway/VPCNATgateway.puml
    ${0}
snippet include VPCpeering
    !include ${1}/Compute/AmazonVPC/VPCpeering/VPCpeering.puml
    ${0}
snippet include VPNconnection
    !include ${1}/Compute/AmazonVPC/VPNconnection/VPNconnection.puml
    ${0}
snippet include VPNgateway
    !include ${1}/Compute/AmazonVPC/VPNgateway/VPNgateway.puml
    ${0}
snippet include AWSBatch
    !include ${1}/Compute/AWSBatch/AWSBatch.puml
    ${0}
snippet include application
    !include ${1}/Compute/AWSElasticBeanstalk/application/application.puml
    ${0}
snippet include AWSElasticBeanstalk
    !include ${1}/Compute/AWSElasticBeanstalk/AWSElasticBeanstalk.puml
    ${0}
snippet include deployment
    !include ${1}/Compute/AWSElasticBeanstalk/deployment/deployment.puml
    ${0}
snippet include AWSLambda
    !include ${1}/Compute/AWSLambda/AWSLambda.puml
    ${0}
snippet include LambdaFunction
    !include ${1}/Compute/AWSLambda/LambdaFunction/LambdaFunction.puml
    ${0}
snippet include ApplicationLoadBalancer
    !include ${1}/Compute/ElasticLoadBalancing/ApplicationLoadBalancer/ApplicationLoadBalancer.puml
    ${0}
snippet include ClassicLoadbalancer
    !include ${1}/Compute/ElasticLoadBalancing/ClassicLoadbalancer/ClassicLoadbalancer.puml
    ${0}
snippet include ElasticLoadBalancing
    !include ${1}/Compute/ElasticLoadBalancing/ElasticLoadBalancing.puml
    ${0}
snippet include AmazonDynamoDB
    !include ${1}/Database/AmazonDynamoDB/AmazonDynamoDB.puml
    ${0}
snippet include attribute
    !include ${1}/Database/AmazonDynamoDB/attribute/attribute.puml
    ${0}
snippet include attributes
    !include ${1}/Database/AmazonDynamoDB/attributes/attributes.puml
    ${0}
snippet include globalsecondaryindex
    !include ${1}/Database/AmazonDynamoDB/globalsecondaryindex/globalsecondaryindex.puml
    ${0}
snippet include item
    !include ${1}/Database/AmazonDynamoDB/item/item.puml
    ${0}
snippet include items
    !include ${1}/Database/AmazonDynamoDB/items/items.puml
    ${0}
snippet include table
    !include ${1}/Database/AmazonDynamoDB/table/table.puml
    ${0}
snippet include AmazonElasticCache
    !include ${1}/Database/AmazonElasticCache/AmazonElasticCache.puml
    ${0}
snippet include cachenode
    !include ${1}/Database/AmazonElasticCache/cachenode/cachenode.puml
    ${0}
snippet include Memcached
    !include ${1}/Database/AmazonElasticCache/Memcached/Memcached.puml
    ${0}
snippet include Redis
    !include ${1}/Database/AmazonElasticCache/Redis/Redis.puml
    ${0}
snippet include AmazonRDS
    !include ${1}/Database/AmazonRDS/AmazonRDS.puml
    ${0}
snippet include DBinstance
    !include ${1}/Database/AmazonRDS/DBinstance/DBinstance.puml
    ${0}
snippet include instancereadreplica
    !include ${1}/Database/AmazonRDS/instancereadreplica/instancereadreplica.puml
    ${0}
snippet include instancestandby
    !include ${1}/Database/AmazonRDS/instancestandby/instancestandby.puml
    ${0}
snippet include MSSQLinstance
    !include ${1}/Database/AmazonRDS/MSSQLinstance/MSSQLinstance.puml
    ${0}
snippet include MSSQLinstancealternate
    !include ${1}/Database/AmazonRDS/MSSQLinstancealternate/MSSQLinstancealternate.puml
    ${0}
snippet include MySQLDBinstance
    !include ${1}/Database/AmazonRDS/MySQLDBinstance/MySQLDBinstance.puml
    ${0}
snippet include MySQLinstancealternate
    !include ${1}/Database/AmazonRDS/MySQLinstancealternate/MySQLinstancealternate.puml
    ${0}
snippet include oracleDBinstance
    !include ${1}/Database/AmazonRDS/oracleDBinstance/oracleDBinstance.puml
    ${0}
snippet include OracleDBinstancealternate
    !include ${1}/Database/AmazonRDS/OracleDBinstancealternate/OracleDBinstancealternate.puml
    ${0}
snippet include PIOP
    !include ${1}/Database/AmazonRDS/PIOP/PIOP.puml
    ${0}
snippet include PostgreSQLinstance
    !include ${1}/Database/AmazonRDS/PostgreSQLinstance/PostgreSQLinstance.puml
    ${0}
snippet include SQLmaster
    !include ${1}/Database/AmazonRDS/SQLmaster/SQLmaster.puml
    ${0}
snippet include SQLslave
    !include ${1}/Database/AmazonRDS/SQLslave/SQLslave.puml
    ${0}
snippet include AmazonRedshift
    !include ${1}/Database/AmazonRedshift/AmazonRedshift.puml
    ${0}
snippet include densecomputenode
    !include ${1}/Database/AmazonRedshift/densecomputenode/densecomputenode.puml
    ${0}
snippet include densestoragenode
    !include ${1}/Database/AmazonRedshift/densestoragenode/densestoragenode.puml
    ${0}
snippet include AWSDMS
    !include ${1}/Database/AWSDMS/AWSDMS.puml
    ${0}
snippet include databasemigrationworkflowjob
    !include ${1}/Database/AWSDMS/databasemigrationworkflowjob/databasemigrationworkflowjob.puml
    ${0}
snippet include AmazonAppStream2_0
    !include ${1}/DesktopAppStreaming/AmazonAppStream2_0/AmazonAppStream2_0.puml
    ${0}
snippet include AmazonWorkSpaces
    !include ${1}/DesktopAppStreaming/AmazonWorkSpaces/AmazonWorkSpaces.puml
    ${0}
snippet include AWSCodeBuild
    !include ${1}/DeveloperTools/AWSCodeBuild/AWSCodeBuild.puml
    ${0}
snippet include AWSCodeCommit
    !include ${1}/DeveloperTools/AWSCodeCommit/AWSCodeCommit.puml
    ${0}
snippet include AWSCodeDeploy
    !include ${1}/DeveloperTools/AWSCodeDeploy/AWSCodeDeploy.puml
    ${0}
snippet include AWSCodePipeline
    !include ${1}/DeveloperTools/AWSCodePipeline/AWSCodePipeline.puml
    ${0}
snippet include AWSX_Ray
    !include ${1}/DeveloperTools/AWSX_Ray/AWSX_Ray.puml
    ${0}
snippet include AmazonGameLift
    !include ${1}/GameDevelopment/AmazonGameLift/AmazonGameLift.puml
    ${0}
snippet include AWScloud
    !include ${1}/General/AWScloud/AWScloud.puml
    ${0}
snippet include AWSManagementConsole
    !include ${1}/General/AWSManagementConsole/AWSManagementConsole.puml
    ${0}
snippet include client
    !include ${1}/General/client/client.puml
    ${0}
snippet include corporatedatacenter
    !include ${1}/General/corporatedatacenter/corporatedatacenter.puml
    ${0}
snippet include disk
    !include ${1}/General/disk/disk.puml
    ${0}
snippet include forums
    !include ${1}/General/forums/forums.puml
    ${0}
snippet include genericdatabase
    !include ${1}/General/genericdatabase/genericdatabase.puml
    ${0}
snippet include Internet
    !include ${1}/General/Internet/Internet.puml
    ${0}
snippet include Internetalternate1
    !include ${1}/General/Internetalternate1/Internetalternate1.puml
    ${0}
snippet include Internetalternate2
    !include ${1}/General/Internetalternate2/Internetalternate2.puml
    ${0}
snippet include mobileclient
    !include ${1}/General/mobileclient/mobileclient.puml
    ${0}
snippet include multimedia
    !include ${1}/General/multimedia/multimedia.puml
    ${0}
snippet include officebuilding
    !include ${1}/General/officebuilding/officebuilding.puml
    ${0}
snippet include SAMLtoken
    !include ${1}/General/SAMLtoken/SAMLtoken.puml
    ${0}
snippet include SSLpadlock
    !include ${1}/General/SSLpadlock/SSLpadlock.puml
    ${0}
snippet include tapestorage
    !include ${1}/General/tapestorage/tapestorage.puml
    ${0}
snippet include traditionalserver
    !include ${1}/General/traditionalserver/traditionalserver.puml
    ${0}
snippet include user
    !include ${1}/General/user/user.puml
    ${0}
snippet include users
    !include ${1}/General/users/users.puml
    ${0}
snippet include virtualprivatecloud
    !include ${1}/General/virtualprivatecloud/virtualprivatecloud.puml
    ${0}
snippet include alexaskill
    !include ${1}/InternetOfThings/alexaskill/alexaskill.puml
    ${0}
snippet include alexasmarthomeskill
    !include ${1}/InternetOfThings/alexasmarthomeskill/alexasmarthomeskill.puml
    ${0}
snippet include alexavoiceservice
    !include ${1}/InternetOfThings/alexavoiceservice/alexavoiceservice.puml
    ${0}
snippet include AVSenableddevice
    !include ${1}/InternetOfThings/AVSenableddevice/AVSenableddevice.puml
    ${0}
snippet include AWSGreengrass
    !include ${1}/InternetOfThings/AWSGreengrass/AWSGreengrass.puml
    ${0}
snippet include action
    !include ${1}/InternetOfThings/AWSIoT/action/action.puml
    ${0}
snippet include actuator
    !include ${1}/InternetOfThings/AWSIoT/actuator/actuator.puml
    ${0}
snippet include AWSIoT
    !include ${1}/InternetOfThings/AWSIoT/AWSIoT.puml
    ${0}
snippet include certificate
    !include ${1}/InternetOfThings/AWSIoT/certificate/certificate.puml
    ${0}
snippet include desiredstate
    !include ${1}/InternetOfThings/AWSIoT/desiredstate/desiredstate.puml
    ${0}
snippet include hardwareboard
    !include ${1}/InternetOfThings/AWSIoT/hardwareboard/hardwareboard.puml
    ${0}
snippet include HTTP2protocol
    !include ${1}/InternetOfThings/AWSIoT/HTTP2protocol/HTTP2protocol.puml
    ${0}
snippet include HTTPprotocol
    !include ${1}/InternetOfThings/AWSIoT/HTTPprotocol/HTTPprotocol.puml
    ${0}
snippet include MQTTprotocol
    !include ${1}/InternetOfThings/AWSIoT/MQTTprotocol/MQTTprotocol.puml
    ${0}
snippet include policy
    !include ${1}/InternetOfThings/AWSIoT/policy/policy.puml
    ${0}
snippet include reportedstate
    !include ${1}/InternetOfThings/AWSIoT/reportedstate/reportedstate.puml
    ${0}
snippet include rule
    !include ${1}/InternetOfThings/AWSIoT/rule/rule.puml
    ${0}
snippet include sensor
    !include ${1}/InternetOfThings/AWSIoT/sensor/sensor.puml
    ${0}
snippet include servo
    !include ${1}/InternetOfThings/AWSIoT/servo/servo.puml
    ${0}
snippet include shadow
    !include ${1}/InternetOfThings/AWSIoT/shadow/shadow.puml
    ${0}
snippet include simulator
    !include ${1}/InternetOfThings/AWSIoT/simulator/simulator.puml
    ${0}
snippet include thingbank
    !include ${1}/InternetOfThings/AWSIoT/thingbank/thingbank.puml
    ${0}
snippet include thingbicycle
    !include ${1}/InternetOfThings/AWSIoT/thingbicycle/thingbicycle.puml
    ${0}
snippet include thingcamera
    !include ${1}/InternetOfThings/AWSIoT/thingcamera/thingcamera.puml
    ${0}
snippet include thingcar
    !include ${1}/InternetOfThings/AWSIoT/thingcar/thingcar.puml
    ${0}
snippet include thingcart
    !include ${1}/InternetOfThings/AWSIoT/thingcart/thingcart.puml
    ${0}
snippet include thingcoffeepot
    !include ${1}/InternetOfThings/AWSIoT/thingcoffeepot/thingcoffeepot.puml
    ${0}
snippet include thingdoorlock
    !include ${1}/InternetOfThings/AWSIoT/thingdoorlock/thingdoorlock.puml
    ${0}
snippet include thingfactory
    !include ${1}/InternetOfThings/AWSIoT/thingfactory/thingfactory.puml
    ${0}
snippet include thinggeneric
    !include ${1}/InternetOfThings/AWSIoT/thinggeneric/thinggeneric.puml
    ${0}
snippet include thinghouse
    !include ${1}/InternetOfThings/AWSIoT/thinghouse/thinghouse.puml
    ${0}
snippet include thinglightbulb
    !include ${1}/InternetOfThings/AWSIoT/thinglightbulb/thinglightbulb.puml
    ${0}
snippet include thingmedicalemergency
    !include ${1}/InternetOfThings/AWSIoT/thingmedicalemergency/thingmedicalemergency.puml
    ${0}
snippet include thingpoliceemergency
    !include ${1}/InternetOfThings/AWSIoT/thingpoliceemergency/thingpoliceemergency.puml
    ${0}
snippet include thingthermostat
    !include ${1}/InternetOfThings/AWSIoT/thingthermostat/thingthermostat.puml
    ${0}
snippet include thingtravel
    !include ${1}/InternetOfThings/AWSIoT/thingtravel/thingtravel.puml
    ${0}
snippet include thingutility
    !include ${1}/InternetOfThings/AWSIoT/thingutility/thingutility.puml
    ${0}
snippet include thingwindfarm
    !include ${1}/InternetOfThings/AWSIoT/thingwindfarm/thingwindfarm.puml
    ${0}
snippet include topic
    !include ${1}/InternetOfThings/AWSIoT/topic/topic.puml
    ${0}
snippet include echo
    !include ${1}/InternetOfThings/echo/echo.puml
    ${0}
snippet include fireTV
    !include ${1}/InternetOfThings/fireTV/fireTV.puml
    ${0}
snippet include fireTVstick
    !include ${1}/InternetOfThings/fireTVstick/fireTVstick.puml
    ${0}
snippet include lambdafunction
    !include ${1}/InternetOfThings/lambdafunction/lambdafunction.puml
    ${0}
snippet include alarm
    !include ${1}/ManagementTools/AmazonCloudWatch/alarm/alarm.puml
    ${0}
snippet include AmazonCloudWatch
    !include ${1}/ManagementTools/AmazonCloudWatch/AmazonCloudWatch.puml
    ${0}
snippet include configrule
    !include ${1}/ManagementTools/AmazonCloudWatch/configrule/configrule.puml
    ${0}
snippet include eventeventbased
    !include ${1}/ManagementTools/AmazonCloudWatch/eventeventbased/eventeventbased.puml
    ${0}
snippet include eventtimebased
    !include ${1}/ManagementTools/AmazonCloudWatch/eventtimebased/eventtimebased.puml
    ${0}
snippet include AWSCloudFormation
    !include ${1}/ManagementTools/AWSCloudFormation/AWSCloudFormation.puml
    ${0}
snippet include changeset
    !include ${1}/ManagementTools/AWSCloudFormation/changeset/changeset.puml
    ${0}
snippet include stack
    !include ${1}/ManagementTools/AWSCloudFormation/stack/stack.puml
    ${0}
snippet include template
    !include ${1}/ManagementTools/AWSCloudFormation/template/template.puml
    ${0}
snippet include AWSCloudTrail
    !include ${1}/ManagementTools/AWSCloudTrail/AWSCloudTrail.puml
    ${0}
snippet include AWSConfig
    !include ${1}/ManagementTools/AWSConfig/AWSConfig.puml
    ${0}
snippet include AWSManagedServices
    !include ${1}/ManagementTools/AWSManagedServices/AWSManagedServices.puml
    ${0}
snippet include apps
    !include ${1}/ManagementTools/AWSOpsWorks/apps/apps.puml
    ${0}
snippet include AWSOpsWorks
    !include ${1}/ManagementTools/AWSOpsWorks/AWSOpsWorks.puml
    ${0}
snippet include deployments
    !include ${1}/ManagementTools/AWSOpsWorks/deployments/deployments.puml
    ${0}
snippet include instances
    !include ${1}/ManagementTools/AWSOpsWorks/instances/instances.puml
    ${0}
snippet include layers
    !include ${1}/ManagementTools/AWSOpsWorks/layers/layers.puml
    ${0}
snippet include monitoring
    !include ${1}/ManagementTools/AWSOpsWorks/monitoring/monitoring.puml
    ${0}
snippet include permissions
    !include ${1}/ManagementTools/AWSOpsWorks/permissions/permissions.puml
    ${0}
snippet include resources
    !include ${1}/ManagementTools/AWSOpsWorks/resources/resources.puml
    ${0}
snippet include stack
    !include ${1}/ManagementTools/AWSOpsWorks/stack/stack.puml
    ${0}
snippet include AWSServiceCatalog
    !include ${1}/ManagementTools/AWSServiceCatalog/AWSServiceCatalog.puml
    ${0}
snippet include AWSTrustedAdvisor
    !include ${1}/ManagementTools/AWSTrustedAdvisor/AWSTrustedAdvisor.puml
    ${0}
snippet include checklist
    !include ${1}/ManagementTools/AWSTrustedAdvisor/checklist/checklist.puml
    ${0}
snippet include checklistcost
    !include ${1}/ManagementTools/AWSTrustedAdvisor/checklistcost/checklistcost.puml
    ${0}
snippet include checklistfaulttolerance
    !include ${1}/ManagementTools/AWSTrustedAdvisor/checklistfaulttolerance/checklistfaulttolerance.puml
    ${0}
snippet include checklistperformance
    !include ${1}/ManagementTools/AWSTrustedAdvisor/checklistperformance/checklistperformance.puml
    ${0}
snippet include checklistsecurity
    !include ${1}/ManagementTools/AWSTrustedAdvisor/checklistsecurity/checklistsecurity.puml
    ${0}
snippet include AmazonPinpoint
    !include ${1}/Messaging/AmazonPinpoint/AmazonPinpoint.puml
    ${0}
snippet include AmazonSES
    !include ${1}/Messaging/AmazonSES/AmazonSES.puml
    ${0}
snippet include email
    !include ${1}/Messaging/AmazonSES/email/email.puml
    ${0}
snippet include AmazonSNS
    !include ${1}/Messaging/AmazonSNS/AmazonSNS.puml
    ${0}
snippet include emailnotification
    !include ${1}/Messaging/AmazonSNS/emailnotification/emailnotification.puml
    ${0}
snippet include HTTPnotification
    !include ${1}/Messaging/AmazonSNS/HTTPnotification/HTTPnotification.puml
    ${0}
snippet include topic
    !include ${1}/Messaging/AmazonSNS/topic/topic.puml
    ${0}
snippet include AmazonSQS
    !include ${1}/Messaging/AmazonSQS/AmazonSQS.puml
    ${0}
snippet include message
    !include ${1}/Messaging/AmazonSQS/message/message.puml
    ${0}
snippet include queue
    !include ${1}/Messaging/AmazonSQS/queue/queue.puml
    ${0}
snippet include AWSApplicationDiscoveryService
    !include ${1}/Migration/AWSApplicationDiscoveryService/AWSApplicationDiscoveryService.puml
    ${0}
snippet include AWSDMS
    !include ${1}/Migration/AWSDMS/AWSDMS.puml
    ${0}
snippet include databasemigrationworkflow_job
    !include ${1}/Migration/AWSDMS/databasemigrationworkflow_job/databasemigrationworkflow_job.puml
    ${0}
snippet include AWSSMS
    !include ${1}/Migration/AWSSMS/AWSSMS.puml
    ${0}
snippet include AWSSnowball
    !include ${1}/Migration/AWSSnowball/AWSSnowball.puml
    ${0}
snippet include importexport
    !include ${1}/Migration/AWSSnowball/importexport/importexport.puml
    ${0}
snippet include AmazonAPIGateway
    !include ${1}/MobileServices/AmazonAPIGateway/AmazonAPIGateway.puml
    ${0}
snippet include AmazonCognito
    !include ${1}/MobileServices/AmazonCognito/AmazonCognito.puml
    ${0}
snippet include AmazonMobileAnalytics
    !include ${1}/MobileServices/AmazonMobileAnalytics/AmazonMobileAnalytics.puml
    ${0}
snippet include AmazonPinpoint
    !include ${1}/MobileServices/AmazonPinpoint/AmazonPinpoint.puml
    ${0}
snippet include AWSDeviceFarm
    !include ${1}/MobileServices/AWSDeviceFarm/AWSDeviceFarm.puml
    ${0}
snippet include AWSMobileHub
    !include ${1}/MobileServices/AWSMobileHub/AWSMobileHub.puml
    ${0}
snippet include AmazonCloudFront
    !include ${1}/NetworkingContentDelivery/AmazonCloudFront/AmazonCloudFront.puml
    ${0}
snippet include downloaddistribution
    !include ${1}/NetworkingContentDelivery/AmazonCloudFront/downloaddistribution/downloaddistribution.puml
    ${0}
snippet include edgelocation
    !include ${1}/NetworkingContentDelivery/AmazonCloudFront/edgelocation/edgelocation.puml
    ${0}
snippet include streamingdistribution
    !include ${1}/NetworkingContentDelivery/AmazonCloudFront/streamingdistribution/streamingdistribution.puml
    ${0}
snippet include AmazonRoute53
    !include ${1}/NetworkingContentDelivery/AmazonRoute53/AmazonRoute53.puml
    ${0}
snippet include hostedzone
    !include ${1}/NetworkingContentDelivery/AmazonRoute53/hostedzone/hostedzone.puml
    ${0}
snippet include routetable
    !include ${1}/NetworkingContentDelivery/AmazonRoute53/routetable/routetable.puml
    ${0}
snippet include AmazonVPC
    !include ${1}/NetworkingContentDelivery/AmazonVPC/AmazonVPC.puml
    ${0}
snippet include customergateway
    !include ${1}/NetworkingContentDelivery/AmazonVPC/customergateway/customergateway.puml
    ${0}
snippet include elasticnetworkadapter
    !include ${1}/NetworkingContentDelivery/AmazonVPC/elasticnetworkadapter/elasticnetworkadapter.puml
    ${0}
snippet include elasticnetworkinterface
    !include ${1}/NetworkingContentDelivery/AmazonVPC/elasticnetworkinterface/elasticnetworkinterface.puml
    ${0}
snippet include endpoints
    !include ${1}/NetworkingContentDelivery/AmazonVPC/endpoints/endpoints.puml
    ${0}
snippet include flowlogs
    !include ${1}/NetworkingContentDelivery/AmazonVPC/flowlogs/flowlogs.puml
    ${0}
snippet include internetgateway
    !include ${1}/NetworkingContentDelivery/AmazonVPC/internetgateway/internetgateway.puml
    ${0}
snippet include router
    !include ${1}/NetworkingContentDelivery/AmazonVPC/router/router.puml
    ${0}
snippet include VPCNATgateway
    !include ${1}/NetworkingContentDelivery/AmazonVPC/VPCNATgateway/VPCNATgateway.puml
    ${0}
snippet include VPCpeering
    !include ${1}/NetworkingContentDelivery/AmazonVPC/VPCpeering/VPCpeering.puml
    ${0}
snippet include VPNconnection
    !include ${1}/NetworkingContentDelivery/AmazonVPC/VPNconnection/VPNconnection.puml
    ${0}
snippet include VPNgateway
    !include ${1}/NetworkingContentDelivery/AmazonVPC/VPNgateway/VPNgateway.puml
    ${0}
snippet include AWSDirectConnect
    !include ${1}/NetworkingContentDelivery/AWSDirectConnect/AWSDirectConnect.puml
    ${0}
snippet include ApplicationLoadBalancer
    !include ${1}/NetworkingContentDelivery/ElasticLoadBalancing/ApplicationLoadBalancer/ApplicationLoadBalancer.puml
    ${0}
snippet include ClassicLoadBalancer
    !include ${1}/NetworkingContentDelivery/ElasticLoadBalancing/ClassicLoadBalancer/ClassicLoadBalancer.puml
    ${0}
snippet include ElasticLoadBalancing
    !include ${1}/NetworkingContentDelivery/ElasticLoadBalancing/ElasticLoadBalancing.puml
    ${0}
snippet include AmazonMechanicalTurk
    !include ${1}/OnDemandWorkforce/AmazonMechanicalTurk/AmazonMechanicalTurk.puml
    ${0}
snippet include assignmenttask
    !include ${1}/OnDemandWorkforce/AmazonMechanicalTurk/assignmenttask/assignmenttask.puml
    ${0}
snippet include humanintelligencetasks
    !include ${1}/OnDemandWorkforce/AmazonMechanicalTurk/humanintelligencetasks/humanintelligencetasks.puml
    ${0}
snippet include requester
    !include ${1}/OnDemandWorkforce/AmazonMechanicalTurk/requester/requester.puml
    ${0}
snippet include workers
    !include ${1}/OnDemandWorkforce/AmazonMechanicalTurk/workers/workers.puml
    ${0}
snippet include Android
    !include ${1}/SDKs/Android/Android.puml
    ${0}
snippet include AWSCLI
    !include ${1}/SDKs/AWSCLI/AWSCLI.puml
    ${0}
snippet include AWSToolkitForEclipse
    !include ${1}/SDKs/AWSToolkitForEclipse/AWSToolkitForEclipse.puml
    ${0}
snippet include AWSToolkitForVisualStudio
    !include ${1}/SDKs/AWSToolkitForVisualStudio/AWSToolkitForVisualStudio.puml
    ${0}
snippet include AWSToolsForWindowsPowerShell
    !include ${1}/SDKs/AWSToolsForWindowsPowerShell/AWSToolsForWindowsPowerShell.puml
    ${0}
snippet include iOS
    !include ${1}/SDKs/iOS/iOS.puml
    ${0}
snippet include Java
    !include ${1}/SDKs/Java/Java.puml
    ${0}
snippet include JavaScript
    !include ${1}/SDKs/JavaScript/JavaScript.puml
    ${0}
snippet include Net
    !include ${1}/SDKs/Net/Net.puml
    ${0}
snippet include Nodejs
    !include ${1}/SDKs/Nodejs/Nodejs.puml
    ${0}
snippet include PHP
    !include ${1}/SDKs/PHP/PHP.puml
    ${0}
snippet include Python
    !include ${1}/SDKs/Python/Python.puml
    ${0}
snippet include Ruby
    !include ${1}/SDKs/Ruby/Ruby.puml
    ${0}
snippet include Xamarin
    !include ${1}/SDKs/Xamarin/Xamarin.puml
    ${0}
snippet include agent
    !include ${1}/SecurityIdentityCompliance/AmazonInspector/agent/agent.puml
    ${0}
snippet include AmazonInspector
    !include ${1}/SecurityIdentityCompliance/AmazonInspector/AmazonInspector.puml
    ${0}
snippet include AWSArtifact
    !include ${1}/SecurityIdentityCompliance/AWSArtifact/AWSArtifact.puml
    ${0}
snippet include AWSCertificateManager
    !include ${1}/SecurityIdentityCompliance/AWSCertificateManager/AWSCertificateManager.puml
    ${0}
snippet include certificatemanager
    !include ${1}/SecurityIdentityCompliance/AWSCertificateManager/certificatemanager/certificatemanager.puml
    ${0}
snippet include AWSCloudHSM
    !include ${1}/SecurityIdentityCompliance/AWSCloudHSM/AWSCloudHSM.puml
    ${0}
snippet include AWSKMS
    !include ${1}/SecurityIdentityCompliance/AWSKMS/AWSKMS.puml
    ${0}
snippet include AWSOrganizations
    !include ${1}/SecurityIdentityCompliance/AWSOrganizations/AWSOrganizations.puml
    ${0}
snippet include AWSShield
    !include ${1}/SecurityIdentityCompliance/AWSShield/AWSShield.puml
    ${0}
snippet include AWSWAF
    !include ${1}/SecurityIdentityCompliance/AWSWAF/AWSWAF.puml
    ${0}
snippet include filteringrule
    !include ${1}/SecurityIdentityCompliance/AWSWAF/filteringrule/filteringrule.puml
    ${0}
snippet include addon
    !include ${1}/SecurityIdentityCompliance/IAM/addon/addon.puml
    ${0}
snippet include AWSSTS
    !include ${1}/SecurityIdentityCompliance/IAM/AWSSTS/AWSSTS.puml
    ${0}
snippet include AWSSTS_2
    !include ${1}/SecurityIdentityCompliance/IAM/AWSSTS_2/AWSSTS_2.puml
    ${0}
snippet include dataencryptionkey
    !include ${1}/SecurityIdentityCompliance/IAM/dataencryptionkey/dataencryptionkey.puml
    ${0}
snippet include encrypteddata
    !include ${1}/SecurityIdentityCompliance/IAM/encrypteddata/encrypteddata.puml
    ${0}
snippet include IAM
    !include ${1}/SecurityIdentityCompliance/IAM/IAM.puml
    ${0}
snippet include long_termsecuritycredential
    !include ${1}/SecurityIdentityCompliance/IAM/long_termsecuritycredential/long_termsecuritycredential.puml
    ${0}
snippet include MFAtoken
    !include ${1}/SecurityIdentityCompliance/IAM/MFAtoken/MFAtoken.puml
    ${0}
snippet include permissions
    !include ${1}/SecurityIdentityCompliance/IAM/permissions/permissions.puml
    ${0}
snippet include role
    !include ${1}/SecurityIdentityCompliance/IAM/role/role.puml
    ${0}
snippet include temporarysecuritycredential
    !include ${1}/SecurityIdentityCompliance/IAM/temporarysecuritycredential/temporarysecuritycredential.puml
    ${0}
snippet include AmazonEBS
    !include ${1}/Storage/AmazonEBS/AmazonEBS.puml
    ${0}
snippet include AmazonEFS
    !include ${1}/Storage/AmazonEFS/AmazonEFS.puml
    ${0}
snippet include EFSShare
    !include ${1}/Storage/AmazonEFS/EFSShare/EFSShare.puml
    ${0}
snippet include AmazonGlacier
    !include ${1}/Storage/AmazonGlacier/AmazonGlacier.puml
    ${0}
snippet include archive
    !include ${1}/Storage/AmazonGlacier/archive/archive.puml
    ${0}
snippet include vault
    !include ${1}/Storage/AmazonGlacier/vault/vault.puml
    ${0}
snippet include AmazonS3
    !include ${1}/Storage/AmazonS3/AmazonS3.puml
    ${0}
snippet include bucket
    !include ${1}/Storage/AmazonS3/bucket/bucket.puml
    ${0}
snippet include bucketwithobjects
    !include ${1}/Storage/AmazonS3/bucketwithobjects/bucketwithobjects.puml
    ${0}
snippet include object
    !include ${1}/Storage/AmazonS3/object/object.puml
    ${0}
snippet include AWSSnowball
    !include ${1}/Storage/AWSSnowball/AWSSnowball.puml
    ${0}
snippet include importexport
    !include ${1}/Storage/AWSSnowball/importexport/importexport.puml
    ${0}
snippet include AWSStorageGateway
    !include ${1}/Storage/AWSStorageGateway/AWSStorageGateway.puml
    ${0}
snippet include cachedvolume
    !include ${1}/Storage/AWSStorageGateway/cachedvolume/cachedvolume.puml
    ${0}
snippet include non_cachedvolume
    !include ${1}/Storage/AWSStorageGateway/non_cachedvolume/non_cachedvolume.puml
    ${0}
snippet include virtualtapelibrary
    !include ${1}/Storage/AWSStorageGateway/virtualtapelibrary/virtualtapelibrary.puml
    ${0}
snippet include snapshot
    !include ${1}/Storage/snapshot/snapshot.puml
    ${0}
snippet include volume
    !include ${1}/Storage/volume/volume.puml
    ${0}
